@model IEnumerable<FitnessHub.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Bookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanceClass.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SwimmingLesson.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DanceClass.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SwimmingLesson.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingID })
                </td>
            </tr>
        }
    </tbody>
</table>
