@model FitnessHub.Models.DanceClassDto

@{
    ViewBag.Title = "Dance Class Details";
}

<h2>Dance Class Details</h2>

<div>
    <h4>Dance Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Instructor)</dt>
        <dd>@Html.DisplayFor(model => model.Instructor)</dd>

        <dt>@Html.DisplayNameFor(model => model.Schedule)</dt>
        <dd>@Html.DisplayFor(model => model.Schedule)</dd>

        <dt>@Html.DisplayNameFor(model => model.Duration)</dt>
        <dd>@Html.DisplayFor(model => model.Duration)</dd>

        <dt>@Html.DisplayNameFor(model => model.Price)</dt>
        <dd>@Html.DisplayFor(model => model.Price)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.StudioID)</dt>
        <dd>@Html.DisplayFor(model => model.StudioID)</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
